@import 'components';
@import 'layout';


* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  max-width: 100;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background-color: $mainColor1;
  color: $textColor2;
  font-family: 'Arapey', serif;
}


// index.html -------------------------------------------------
#page-wrap {
  width: 100vw;
  margin: 6vh auto;
  padding: 0 12vw;
  font-size: 1rem;
}



// START: text menu devided --------------------
// --------------------------------------------
.links-in-column3 {
  .link-box {
    margin: 2rem auto;
  }
  span {
    display: block;
    word-spacing: 0em;
    line-height: 1.4em;
    text-transform: none;
    font-weight: normal;
  }
@media screen and (min-width: 1025px) {
    .link-box {
      display: inline-block;
      width: calc(80% / 3);
      border-right: 1px solid $mainColor3;
      a{
        @include linkEffect;
        &:last-child {
          border-right: 0;
        }
      }
    }
  }
}

.link-title {
  font-size: 1.9rem;
  letter-spacing: 0.2em;
}

.link-subtitle {
  font-style: italic;
  font-size: 1rem;
}

// --------------------------------------------
// END: text menu devided ---------------------



// About page ----------------------------
.text-block {
  margin-bottom: 15vh;
}

.text-block-wrap {
  padding-top: 3rem;
  color: $textColor2;
  word-spacing: 0em;
  line-height: 1.4em;
  text-transform: none;
  font-weight: normal;

  @media screen and (max-width: 1025px) {
    padding-top: 22rem;
  }

  .text-block-title {
    @include textTitle;

    @media screen and (max-width: 1025px) {
      margin-bottom: 7rem;
    }
  }

  .text-block-content {
    font-size: 0.9375rem;
    letter-spacing: 0em;
    margin-bottom: 1rem;
    a{
      @include linkEffect;
    }

    @media screen and (max-width: 1025px) {
      margin-top: -17px;
      margin-bottom: 1rem;
      font-size: 1.3rem;
    }
  }
}
.content-bottom {
  margin-bottom: 15rem;
}

.resume {
	margin: 3rem auto;
}


.about-image {
  width: 80%;
  background: $bgColor1;
  padding: 2rem;

  @media screen and (max-width: 1025px) {
    width: 100%;
    background: #f8f8f7;
    padding: 2rem;
    margin-top: -92rem;
  }
}






// Portfolio page ----------------------------

.portfolio-title {
  @include textTitle;
  margin: 5rem auto;
}

.portfolio-works {
  width: 100%;
  margin: 0 auto;

  .row {
    margin-bottom: 2.5rem;
  }

  .portfolio-work {
    width: 80%;
    margin: 3rem auto;

    .resize {
      width: 100%;
    }
  }
}


// contact form ----------------------------
.image-design {
  width: 85%;
  margin-top: 4rem;
}

.contact-wrap {
  color: $textColor2;
  word-spacing: 0em;
  line-height: 1.4em;
  text-transform: none;
  font-weight: normal;

  .contact-title {
    font-size: 2.5rem;
    letter-spacing: 0.2em;
    margin-bottom: 1.5rem;
    margin-top: 2.5rem;

    @media screen and (max-width: 1024px) {
      line-height: normal;
      margin-top: 5.5rem;
    }
  }

  .contact-subtitle {
    font-size: 0.9375rem;
    letter-spacing: 0.2em;
  }

  .contact-form {
    margin-top: 3rem;
    padding: 0 2rem;
    width: 100%;

    textarea {
      resize: none;
    }

    &:focus {
      outline: none;
    }

    .form-field {
      display: block;
    }

    .form-design {
      height: 100%;
      width: 90%;
      padding: 1.25rem 1.5625rem;
      border: 0;
      color: $mainColor3;
      border-bottom: 1px solid $mainColor3 !important;
      margin: 2rem auto !important;
      background-color: transparent;
      font-size: 0.6rem;
    }

    .form-button {
      margin-left: 2rem;
    }
  }
}