@import 'components';
@import 'layout';

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  background-color: $mainColor1;
  color: $textColor2;
  line-height: 1.5;
}

// index.html -------- big menu -----------------------------
.links-in-column3 {
  a {
    @include linkEffect;
    display: inline-block;
    width: calc(80% / 3);
    border-right: 1px solid $mainColor3;
    span {
      display: block;
      &:last-child {
        border-right: 0;
      }
      .link-title {
        font-weight: bold;
      }
      .link-subtitle {
        font-size: 0.7rem;
      }
    }
  }
}

// devide to three function -------------------------------
// @mixin devideThree($per, $name) {
//   display: inline-block;
//   width: calc($per / 3);
//   $name {
//     display: block;
//   }
// }

// links-photo ------------------------------------------------------
.links-photo {
  width: 100vw;
  height: 10vh;
  display: block;
  margin: 3rem auto;
  // margin-left: 3.5rem;
  .link-photo a {
    @include linkEffect;
    width: calc(80% / 3);
    float: left;
    margin: 0 2rem;
  }
  .travelPhoto1 {
    display: block;
    width: 100%;
    height: 50vh;
    background-image: url('/sources/turkey1.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .travelPhoto2 {
    display: block;
    height: 50vh;
    width: 100%;
    background-image: url('/sources/turkey1.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .travelPhoto3 {
    display: block;
    height: 50vh;
    width: 100%;
    background-image: url('/sources/turkey1.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}





// contact form ----------------------------

.contact {
  width: 80vw;
  display: inline-block;
  margin: 3rem auto;
  height: 70vh;
  .contact-image {
    float: left;
    display: block;
    width: 45%;
    height: 31rem;
    background-image: url('/sources/contact.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .contact-wrap {
    float: right;
    width: 45%;
    height: 31rem;
    margin-left: 3rem;
    color: $textColor2;
    word-spacing: 0em;
    line-height: 1.4em;
    text-transform: none;
    font-weight: normal;
    .contact-title {
      font-size: 2.5rem;
      letter-spacing: 0.2em;
      margin-bottom: 2rem;
    }
    .contact-subtitle {
    font-size: 0.9375rem;
    letter-spacing: 0em;
    }
    .contact-form {
      margin-top: 3rem;
      width: 100%;
      textarea {
        resize: none;
      }
      &:focus {
        outline: none;
      }

      .form-field {
        display: block;
      }
      .form-design {
        height: 100%;
        padding: 1.25rem 1.5625rem;
        margin-bottom: 0;
        border: 0;
        color: $mainColor3;
        border-bottom: 1px solid $mainColor3 !important;
        margin-bottom: .9375rem !important;
        background-color: transparent;
      }
    }
  }
}


// About page ----------------------------

.text-block {
  width: 80vw;
  display: inline-block;
  margin: 3rem auto;
  height: 70vh;
  .about-image {
    float: right;
    display: block;
    margin-right: 3rem;
    height: 31rem;
    background: $bgColor1;
    padding: 2rem;
  }
  .text-block-wrap {
    float: left;
    width: 45%;
    height: 31rem;
    margin: 3rem;
    color: $textColor2;
    word-spacing: 0em;
    line-height: 1.4em;
    text-transform: none;
    font-weight: normal;
    .text-block-title {
      font-size: 2.5rem;
      letter-spacing: 0.2em;
      margin-bottom: 3rem;
    }
    .text-block-content {
    font-size: 0.9375rem;
    letter-spacing: 0em;
    }
  }
}


