// color ----------------------------------------------
$mainColor1: #ffffff;
$mainColor2: #f9f9f9;
$mainColor3: #d2d1d0;

$bgColor1: #f8f8f7;
$bgColor2: #afafaf;

$textColor1: #ffffff;
$textColor2: #6b6764;
$textColor3: #000000;


@mixin textTitle {
  font-size: 2.5rem;
  letter-spacing: 0.2em;
  margin-bottom: 3rem;
  margin-top: 3rem;
  color: $textColor2;
}

@mixin linkEffect {
  text-decoration: none !important;
  cursor: pointer;
  color: $textColor2 !important;

  &:hover {
    color: $textColor2;
  }
}

.emailLink {
  @include linkEffect;
}


// START: devide line ----------------------------------------------
.divider {
  display: inline-block;
  padding-bottom: 2.5rem;
  text-align: center;
  width: 100%;

  .divider--line {
    margin: 0 auto;
    height: 1px;
    width: 80%;
    background-color: $mainColor3;
  }
}
// END: devide line ----------------------------------------------


// START: links-photo ---------------------
// --------------------------------------------
.photo-size {
  margin-top: 10rem;
  margin-bottom: 5rem;

  a {
    @include linkEffect;

    img {
      width: 100%;
    }
  }
}

// --------------------------------------------
// END: links-photo ---------------------------




// index.html -----------------------------------------------------------------
// ----------------------------------------------------------------------------



// START: carousel ----------------------------
// --------------------------------------------


#carouselExampleIndicators {
  width: 100%;

  @media screen and (min-width: 1025px) {
		.slideshow {
			height: 100vh;
			width: 100%;
		}

    .carousel-inner {
      height: 500px;
    }

    .carousel-item {
      img {
        position: relative;

        &.slide1 {
          top: -100px;
        }

        &.slide2 {
          top: -200px;
        }

        &.slide3 {
          width: 100%;
          top: -100px;
        }
      }
    }
  }
}



// button ------------------------------------------------------

.action-button {
	display: inline-block;
	margin-top: 1rem;

	.linkToAbout {
		@include linkEffect;
		padding: 1.25rem 3.125rem;
		background-color: $bgColor2;
		border: 1px solid $bgColor1;
		color: $textColor1!important;

		span {
			display: inline-block;
			width: 200px;
			height: 200px;
		}
	}
}

.form-button {
  float: left;
  background-color: $bgColor1;
  color: $textColor2 !important;
  min-width: 8.4375rem;
  padding: .75rem 1.25rem;
  transition: opacity .8s;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  min-height: 2.34375rem;
  cursor: pointer;
}