// color ----------------------------------------------
$mainColor1: #ffffff;
$mainColor2: #f9f9f9;
$mainColor3: #d2d1d0;

$bgColor1: #ffffcc;
$bgColor2: #afafaf;

$textColor1: #ffffff;
$textColor2: #6b6764;
$textColor3: #000000;


@mixin linkEffect {
	text-decoration: none;
	cursor: pointer;
	color: $textColor2;
}


// devide line -----------------------------------------------------

.divider {
	display: inline-block;
	padding: 2.5rem 0;
	text-align: center;
	width: 100%;

	.divider--line {
		height: 2px;
		width: 100%;
		background-color: $mainColor3;
		color: #6b6764;
	}
}



// carousel -----------------------------------------------------
#carouselExampleIndicators {
	.carousel-inner {
		height: 500px;
		.carousel-item {
			img{
				position: relative;
				&.slide1{
					top:-300px;
				}
				&.slide2{
					top:-200px;
				}
				&.slide3{
					top:-300px
				}
			}
		}
	}
}


// index.html -----------------------------------------------------------------
// ----------------------------------------------------------------------------

// button ------------------------------------------------------
.block {
	.block-container {
		.action-button {
			display: inline-block;
      a {
        @include linkEffect;
				padding: 1.25rem 3.125rem;
        background-color: $bgColor2;
        border: 1px solid $bgColor1;
				color: $textColor1;
				span {
					display: inline-block;
					width: 200px;
					height: 200px;
				}
      }
		}
	}
}
.travelPhoto1 {
	width: 100%;
	background-image: url('/sources/shiori.jpg');
}