.divider--line {
  display: inline-block;
  height: 1px;
  background-color: #d2d1d0;
}

#carouselExampleIndicators .carousel-inner {
  height: 500px;
}

#carouselExampleIndicators .carousel-inner .carousel-item img {
  position: relative;
}

#carouselExampleIndicators .carousel-inner .carousel-item img.slide1 {
  top: -200px;
}

#carouselExampleIndicators .carousel-inner .carousel-item img.slide2 {
  top: -200px;
}

#carouselExampleIndicators .carousel-inner .carousel-item img.slide3 {
  top: -200px;
}

.block .block-container .action-button {
  display: inline-block;
}

.block .block-container .action-button a {
  text-decoration: none;
  cursor: pointer;
  color: #6b6764;
  border: 1px solid #afafaf;
  padding: 8px 36px;
  background-color: #ffffff;
}

.block .block-container .action-button a span {
  display: inline-block;
  width: 200px;
  height: 200px;
}

.travelPhoto1 {
  width: 100%;
  background-image: url("/sources/shiori.jpg");
}
