.divider--line {
  display: inline-block;
  height: 1px;
  background-color: #d2d1d0;
}

#carouselExampleIndicators .carousel-inner {
  height: 500px;
}

#carouselExampleIndicators .carousel-inner .carousel-item img {
  position: relative;
}

#carouselExampleIndicators .carousel-inner .carousel-item img.slide1 {
  top: -200px;
}

#carouselExampleIndicators .carousel-inner .carousel-item img.slide2 {
  top: -200px;
}

#carouselExampleIndicators .carousel-inner .carousel-item img.slide3 {
  top: -200px;
}

.block .block-container .action-button {
  display: inline-block;
}

.block .block-container .action-button a {
  text-decoration: none;
  cursor: pointer;
  color: #6b6764;
  border: 1px solid #afafaf;
  padding: 8px 36px;
  background-color: #ffffff;
}

.block .block-container .action-button a span {
  display: inline-block;
  width: 200px;
  height: 200px;
}

.travelPhoto1 {
  width: 100%;
  background-image: url("/sources/shiori.jpg");
}

.header-container {
  display: flex;
  width: 100%;
  transition: background-color .8s;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.logo-image {
  display: inline-block;
  position: relative;
  transition: color .8s;
  transition-timing-function: cubicbezier(0.25, 0.46, 0.45, 0.94);
}

.logo-image a img {
  display: block;
  width: 100%;
  transition: opacity .8s;
}

.navbar-social, .navbar-menu {
  line-height: 100%;
}

.navbar {
  line-height: 100%;
}

.navbar .navbar-item {
  list-style-type: none;
  margin-right: 10px !important;
}

.navbar .navbar-item a {
  text-decoration: none;
  cursor: pointer;
  color: #6b6764;
}
