@import 'components';
@import 'layout';

* {
  box-sizing: border-box;
}

// main body

body {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  background-color: $mainColor1;
  color: $textColor2;
  line-height: 1.5;
}

.block {

	.block-container {
		.action-button {
			display: inline-block;
			border: 1px solid $mainColor2;
			padding: 8px 36px;
			background-color: #000;
		}
		&:hover {
			background-color: $bgColor2;
		}
	}
}

.divider--line {
  display: inline-block;
  height: 1px;
  background-color: $mainColor3;
}

#footer-container {
  // text-align: center;
  width: 100%;
  margin: auto;
}




// contact form ----------------------------

.logo-image {
  display: inline-block;
}

.nav-menu {
  display: inline-block;
}

.nav-social {
  display: inline-block;
}