// color ----------------------------------------------
$mainColor1: #ffffff;
$mainColor2: #f9f9f9;
$mainColor3: #d2d1d0;

$bgColor1: #ffffcc;
$bgColor2: #afafaf;

$textColor1: #ffffff;
$textColor2: #6b6764;
$textColor3: #000000;