* {
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: "Helvetica Neue",Helvetica, Arial,sans-serif;
  font-weight: normal;
  background-color: #ffffff;
  color: #6b6764;
  line-height: 1.5;
}

a {
  text-decoration: none;
  cursor: pointer;
}

#header {
  width: 100%;
  transition: background-color .8s;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.logo-image {
  display: inline-block;
  position: relative;
  transition: color .8s;
  transition-timing-function: cubicbezier(0.25, 0.46, 0.45, 0.94);
}

.logo-image a img {
  display: block;
  width: 100%;
  transition: opacity .8s;
}

.navbar {
  display: inline;
}

.navbar .navbar-item {
  list-style-type: none;
}

.social-links {
  display: inline-block;
}

.divider--line {
  display: inline-block;
  height: 1px;
  background-color: #d2d1d0;
}

#footer-container {
  width: 100%;
  margin: auto;
}
